<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div id="activitiesCard" class="card">
      <div class="card-header">
        <h2 class="card-title">Agro scheduler</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <app-activities-add></app-activities-add>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-activities-list></app-activities-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
